:host {
  display: block;
}

.page {
  max-width: 480px;
}

.reset-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--bs-space-3);
}

.reset-links {
  margin-top: var(--bs-space-3);
  text-align: right;
}